body {
    background-color: rgb(142, 142, 142);
}

.articleDetail {
    width: 78%;
    margin: 0 auto;
    .articleLeft {
        float: left;
        width: 76%;
        height: 1368px;
        padding: 0 30px;
        background-color: rgb(206, 206, 206);
        h2,
        p {
            color: rgb(15, 23, 46);

        }
        h2 {
            margin: 40px 0;
        }
        p {
        	font-size: 1.4em;
            padding: 15px 0;
            text-indent: 2em;
        }
        img{
        	float: left;
        	width: 70%;
        	margin-right: 1em;
        }
        .imgRight{
        	float: right;
        }
    }
    .articleRight {
        float: right;
        padding: 0 10px;
        width: 24%;
        height: 1368px;
        // overflow: auto;
        background-color: rgb(190, 190, 190);
        h3,
        p,a{
            color: rgb(5, 5, 5);
        }
        h3 {
            margin-top: 90px;
            text-align: center;
        }
        p{
        	font-size: 1.4em;
        	margin: 40px 10px;
        }
        li{
        	list-style: none;
            padding: 8px 20px;
            font-size: 1.2em;
        }
    }
}

footer {
    clear: both;
}
