.carousel {
    margin-bottom: 4 0px!important;
}
.caption-change{
	padding: 9px;
	color: #333333;
}
.caption-change p{
	color: #DCDCDC;
}
.caption p{
	text-indent: 12px;
}
h4{
	font-size: 18px !important;
	margin-top:0 ; 
	color:#eee!important;
}
.article img{
	width:100%;
	height:180px;

}