.carousel {
    margin-bottom: 4 0px!important;
}
.caption-change{
	padding: 9px;
	color: #333333;
}
.caption-change p{
	color: #DCDCDC;
}
.caption p{
	text-indent: 12px;
}
h3{
	font-size: 23px !important;
	margin-top:0 ; 
}