.carousel {
    margin-bottom: 4 0px!important;
}
.caption-change{
	padding: 9px;
	color: #333333;
}
 
.caption p{
	text-indent: 12px;
}
h4{
	font-size: 18px !important;
	margin-top:0 ; 
	 
}
.article img{
	width:328px;
	height:180px;

}
 
