* {
    margin: 0;
    padding: 0;
    font: 12px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #eee;
}

.videoList {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.videoList .video-title {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: #B9DDFF;
    background-color: #323232;
}

.videoList .video-title h4 {
    position: relative;
    top: 40%;
    font-size: 1.6em;
}

.videoList .video-title-2 {
    color: #B8FFD4;
}

.videoList .video-title-3 {
    color: #EAFFB8;
}

.videoList .thumbnail {
    margin-bottom: 0;
   /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;*/
}

.videoList .thumbnail .caption {
    border-bottom: 2px solid #3c3c3c;
}

.pic-only-con .caption{
    height:133px;
    overflow:hidden;
}
.videoList h3 {
    font-size: 18px;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.col-list .thumbnail:last-child .caption {
    border-bottom: 0;
}

 

.video-only .thumbnail {
    margin-bottom: 20px;
  margin:14px;
    padding:0;
}
.video-thumbnail {
    width:250px;
    height:165px!important;
}
.video-only .thumbnail .caption {
    border: none;

}

.video-only h3 {
    margin-top: 0!important;
}

#mainType a {
    line-height: 40px;
    text-align: center;
}
#mainType .caption{
    padding:4px;
}
#mainType li {
    list-style: none;
    text-align: center;
}

#mainType {
    background-color: #1b1b1b;
    position: fixed;
 width:100px;
     position: fixed;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 550px;
}
 

#mainType .active,#mainType li:hover {
    background-color: #242424;
}
.videoPic{
    position:relative;
    width:22%!important;
    padding:10px;
    height:258px!important;
    overflow: hidden;
}
.videoPlay{
    /*border:1px solid red;*/
    position:absolute;
    top:0px;
    right:33px;
}
#test{
    margin-left:auto !important;
    margin-right:auto !important;
}

#videoTpl,#imageTpl{
    width: 1084px;
    margin: 0 auto;
    border-left: 2px solid rgb(109,107,108);
    border-right: 2px solid rgb(109,107,108);
}

/*.col-md-3 {
    width: 20%;
}*/
#test{
    padding:0 20px;
}
.picture-thumb{
    width:316px !important;
    height:216px !important;
}
.video-padding{
    padding:0 10px;
}
