<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
        <div class="container-fluid marginTop">
            <div class="row-fluid">
                <div class="  whiteBg" id="content">
                    <ol class="breadcrumb">
                        <li>管理平台</li>
                        <li>图片管理</li>
                        <li ng-switch="{{type}}">
                            <span ng-switch-when="1">普通图片</span>
                            <span ng-switch-when="2">首页图片</span>
                            <span ng-switch-when="3">轮播图片</span>
                            <span ng-switch-default>其他</span>
                        </li>
                    </ol>
                    <div class="row search">
                        <form class="form-inline" ng-submit="searchUser()">
                            <div class="form-group">
                                <label for="exampleInputName2">用户名</label>
                                <bninput type="text" class="form-control" name="name" ng-model="name" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">邮箱</label>
                                <input type="text" class="form-control" name="email" ng-model="email" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">用户状态</label>
                                <select name="status" id="" class="form-control" ng-model="status">
                                    <option value="">不限</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">搜索</button>
                        </form>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <tr>
                                <th>编号</th>
                                <th>标题</th>
                                <!-- <th>摘要</th> -->
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>类别</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="article in allArticle">
                                <td>{{article.id}}</td>
                                <td>{{article.title}}</td>
                                <!-- <td>{{article.content}}</td> -->
                                <td>{{article.publishtime*1000| date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                <td>{{article.status!="0"?"可用":"已撤销"}}</td>
                                <td>{{article.mainType}}</td>
                                <td>
                                    <a href="">{{article.status?"恢复":"撤销"}} </a>
                                    <a href=""> 编辑 </a>
                                    <a href="">置于首页</a>
                                </td>
                            </tr>
                        </table>
                        <div class="tcdPageCode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
 