 
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
 <div class="templatemo-content-wrapper">
    <div class="templatemo-content">
<div class="row">
<h1>输入文章基本信息</h1>
    <div class="col-md-2 form-group">
        <label for="exampleInputEmail2">文章类型</label>
        <select name="status" class="form-control" ng-model="newArticle.mainType"  >
            <option value="1">天文·物理</option>
            <option value="2">地理·地质</option>
            <option value="3">生命·生态</option>
            <option value="0">其他</option>
            <!-- 1天文文理2地理地质3人文生态4其他 -->
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="exampleInputPassword1">文章标题</label>
        <input type="text" name="title" ng-model="newArticle.title" class="form-control" id="exampleInputEmail1" placeholder="输入文章标题">
    </div>
    <div class="col-md-2">
    </div>

</div>
<div class="row">
<div class="col-md-8">
  <label for="exampleInputEmail2">文章简介</label>
    <textarea class="form-control" rows="3" ng-model="newArticle.abstract" placeholder="请输入文章简介"></textarea>
</div>
 
</div>
    <script type="text/plain" id="j_ueditorupload" style="height:5px;display:none;" ></script>
 
  <div class="row" style="padding-top:30px;">
    <div class="col-md-2">
        <button type="button" class="btn btn-md btn-primary" ng-click="newArticle.upImage()">选择文章缩略图</button>
    </div>
    <div class="col-md-2">
    <img ng-src="{{img_src}}" alt="" width="120" height="90">
    </div>
</div>
    <br>
<div class="row pad">
  <!--   <div class="row" style="padding:0 30px 30px 30px;">
        <div class="radio floatLeft">
            <label>
                <input type="radio" name="type" id="type" ng-model="newArticle.type"  value="3" ng-selected="3">  普通文章
            </label>
        </div>
        <div class="radio floatLeft">
            <label> 
                <input type="radio" name="type" id="type" ng-model="newArticle.type"  value="1"> 首页轮播
            </label>
        </div>
        <div class="radio floatLeft">
            <label>
                <input type="radio" name="type" id="type"  ng-model="newArticle.type" value="4"> 首页推荐栏目
            </label>
        </div>
          <div class="radio floatLeft">
            <label>
                <input type="radio" name="type" id="type"  ng-model="newArticle.type" value="2"> 首页热点文章
            </label>
        </div>
    </div> -->
    <div class="row">
    <div class="col-md-4 ">
         <button class="btn btn-success marginRight" ng-click="newArticle.save()">编辑正文<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
       
        <!-- <button class="btn btn-default " ng-click="newArticle.publish()">发布</button> -->
    </div>
</div>
 
 
 
 


