 
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
    th{
        padding:10px;
    }
</style>
 <div class="templatemo-content-wrapper">
    <div class="templatemo-content">
<div class="row">
<h1>输入视频基本信息</h1>
    <div class="col-md-2 form-group">
        <label for="exampleInputEmail2">视频类型</label>
        <select name="status" class="form-control" ng-model="newVideo.maintype"  >
            <option value="1"  >天文·物理</option>
            <option value="2">地理·地质</option>
            <option value="3">生命·生态</option>
            <option value="4">其他</option>
            <!-- 1天文文理2地理地质3人文生态4其他 -->
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="exampleInputPassword1">视频标题</label>
        <input type="text" name="title" ng-model="newVideo.title" class="form-control" id="exampleInputEmail1" placeholder="输入视频标题">
    </div>
    <div class="col-md-2">
    </div>

</div>
<div class="row">
<div class="col-md-8">
  <label for="exampleInputEmail2">视频通用代码</label>
    <textarea class="form-control" rows="3" ng-model="newVideo.videocode" placeholder="请输入视频通用代码"></textarea>
</div>
</div>
<div class="row">
<div class="col-md-8">
  <label for="exampleInputEmail2">视频简介</label>
    <textarea class="form-control" rows="3" ng-model="newVideo.abstract" placeholder="请输入视频简介"></textarea>
</div>
</div>
    <script type="text/plain" id="j_ueditorupload" style="height:5px;display:none;" ></script>
 
  <div class="row" style="padding-top:30px;">
   <div class="col-md-2">
        <button type="button" class="btn btn-md btn-primary" ng-click="methods.upImage()">选择视频缩略图</button>
    </div>
  <div class="col-md-4">
      <img ng-src="{{newVideo.thumbnail}}" alt="" width="120" height="90">
  </div>
    
    <div class="col-md-2">
        <!-- <button type="button" class="btn btn-md btn-primary" ng-click="newVideo.upFiles()">添加文章附件</button> -->
    </div>
</div>

   
    <br>
    <!-- <button type="button" onClick="upFiles()">调用上传文件模块</button> -->
    <div class="row">
        <table>
            <tr>
                <th></th>
                <th>下载名称</th>
                <th>下载地址</th>
                <th></th>
            </tr>
            <tr ng-repeat="attach in  attachment">
                            <th>附件{{$index+1}}：</th>
                            <th>
                                <input type="text" name=" " ng-model="attach.name" class="form-control" id="" placeholder="输入文件名称"> </th>
                            <th> <input type="text" name=" " ng-model="attach.url" class="form-control" id="" placeholder="输入下载链接"></th>
                            
                            <th> <a href="javascript:void 0;" ng-show="$last" ng-click="methods.addAttachment()">添加</a>
                            <a href="javascript:void 0;" ng-hide="$last" ng-click="methods.delAttachment($index)">删除</a>
                            </th>
                        </tr>
        </table>
    </div>
<div class="row pad">
    <div class="row" style="padding:0 30px 30px 30px;">
        <div class="radio floatLeft">
            <label>
                <input type="radio" name="type" id="type" ng-model="newVideo.type"  value="3" ng-selected="3">  普通视频
            </label>
        </div>
        
        <div class="radio floatLeft">
            <label>
                <input type="radio" name="type" id="type"  ng-model="newVideo.type" value="2"> 首页视频
            </label>
        </div>
          
    </div>
    <div class="row">
    <div class="col-md-4 ">
         <button class="btn btn-primary marginRight" ng-click="methods.save(0)" ng-show="showSave">保存修改 </button>
     &nbsp; &nbsp; &nbsp; &nbsp;
         <button class="btn btn-success marginRight" ng-click="methods.save(1)">编辑正文<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
       
        <!-- <button class="btn btn-default " ng-click="newVideo.publish()">发布</button> -->
    </div>
</div>
 
 
 
 


