<div class="templatemo-content-wrapper">
    <style>
    .errorMessage {
        color: red;
    }
    </style>
    <div class="templatemo-content">
        <div class="container-fluid marginTop">
            <div class="row-fluid">
                <div class="  whiteBg" id="content">
                    <div class="col-md-4 col-md-offset-1 login">
                        <form novalidate name="loginForm" ng-submit="user.changePd()">
                            <div class="form-group">
                                <label for="exampleInputPassword1">新密码</label>
                                <input type="password" name="password1" ng-model="user.password1" class="form-control" id="exampleInputPassword1" ng-minlength="6" ng-maxlength="12" required placeholder="Password">
                                <span class="errorMessage" ng-show="loginForm.password1.$dirty && loginForm.password1.$invalid">6-12位密码！</span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">确认密码</label>
                                <input type="password" name="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" ng-minlength="6" ng-maxlength="12" required placeholder="Password">
                                <!--   <span class="errorMessage" ng-show="loginForm.password.$dirty && loginForm.password!=loginForm.password1">两次输入不一致！</span> -->
                                <span class="errorMessage" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">6-12位密码！</span> </div>
                            <button type="submit" class="btn btn-primary" >提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
