<style>
.link {
    color: #337ab7;
    cursor: pointer;
}

.link:hover {
    color: #23527c;
    text-decoration: underline;
}
</style>
<div class="templatemo-content-wrapper">
    <div class="templatemo-content">
        <div class="container-fluid marginTop">
            <div class="row-fluid">
                <div class="  whiteBg" id="content">
                    <ol class="breadcrumb">
                        <li>管理平台</li>
                        <li>视频管理</li>
                        <li ng-switch="{{type}}">
                            <span ng-switch-when="2">首页视频</span>
                            <span ng-switch-when="3">普通视频</span>
                        </li>
                        <li ng-switch="{{status}}">
                            <span ng-switch-when="0">被撤视频</span>
                            <span ng-switch-when="2">草稿箱</span>
                        </li>
                    </ol>
                    <!--      <div class="row search">
                        <form class="form-inline" ng-submit="searchUser()">
                            <div class="form-group">
                                <label for="exampleInputName2">用户名</label>
                                <bninput type="text" class="form-control" name="name" ng-model="name" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">邮箱</label>
                                <input type="text" class="form-control" name="email" ng-model="email" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">用户状态</label>
                                <select name="status" id="" class="form-control" ng-model="status">
                                    <option value="">不限</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">搜索</button>
                        </form>
                    </div> -->
                    <div class="row">
                        <table class="table table-bordered">
                            <tr>
                                <th>编号</th>
                                <th>标题</th>
                                <th>缩略图</th>
                                <th>发布时间</th>
                                <th>状态</th>
                                <th>类别</th>
                                <th>位置</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="article in allArticle">
                                <td>{{article.id}}</td>
                                <td>{{article.title}}</td>
                                <td><img ng-src="{{article.thumbnail}}" alt="" width="100" height="100"></td>
                                <!-- <td>{{article.content}}</td> -->
                                <td>{{article.publishtime*1000| date:'yyyy-MM-dd hh:mm:ss'}}</td>
                                <td>
                                    <span ng-switch="{{article.status}}">
                                    <span ng-switch-when="1">可用</span>
                                    <span ng-switch-when="0">已撤销</span>
                                    <span ng-switch-when="2">草稿</span>
                                    </span>
                                </td>
                                <td>
                                    <span ng-switch="{{article.maintype}}">
                                    <span ng-switch-when="1">天文·文理</span>
                                    <span ng-switch-when="2">地理·地质</span>
                                    <span ng-switch-when="3">人文·生态</span>
                                    <span ng-switch-default>其他</span>
                                    </span>
                                </td>
                                <td>
                                    <span ng-switch="{{article.type}}">
                                    <span ng-switch-when="1">轮播</span>
                                    <span ng-switch-when="2">首页</span>
                                    <span ng-switch-when="3">普通</span>
                                    <span ng-switch-when="4">推荐</span>
                                    <span ng-switch-default>其他</span>
                                    </span>
                                </td>
                                <td>
                                    <span ng-switch="{{article.status}}" ng-click="changeStatus(article.id,article.status)" class="link">
                                    <span ng-switch-when="1">撤销</span>
                                    <span ng-switch-when="0">恢复</span>
                                   
                                    </span> 
                                   <span ng-click="publish(article.id)" class="link" ng-show="{{article.status==2}}">发布</span>
                                    <a href="#/newVideo?id={{article.id}}"> 编辑 </a>
                                    <a href="/index.php/#videoDetail/{{article.id}}" target="_blank">预览</a>
                                    <!-- <a href="">置于首页</a> -->
                                </td>
                            </tr>
                        </table>
                        <div class="tcdPageCode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
