<!DOCTYPE html>
<html class="no-js">

<head>
    <title>管理平台主页</title>
    <!-- Bootstrap -->
    
    <link href="/public2/stylesheet/styles.css" rel="stylesheet" media="screen">
    <link href="/public2/stylesheet/index.css" rel="stylesheet" media="screen">
    <link href="/public2/stylesheet/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body ng-app="myapp">
    <navbar></navbar>
    <div class="container">
        <div ng-view></div>
    </div>
    
    <hr>
    <footer>
        <p>&copy;科普网 2016</p>
    </footer>
    </div>
    <!--/.fluid-container-->
    <script src="/public2/js/jquery-1.9.1.min.js"></script>
 
    <script src="/public2/js/angular.js"></script> 

    <script src="/public2/js/angular.route.min.js"></script>
     
    <script src="/public2/js/jquery.page.js"></script>
    <script src="/public2/js/bootstrap.min.js"></script>
    <script src="/public2/js/index.js"></script>
   
</body>

</html>
