<link rel="stylesheet" href="/public/stylesheet/article.css">
<link rel="stylesheet" href="/public/stylesheet/video.css">
<style>
        #article-list1,
    #article-list2,
    #article-list3,
    #article-list4 {
        /*border:1px solid red;*/
        width: 22.7%;
        margin: 0 1%;
        float: left;}
        .bottom-padding{
            padding-bottom:50px;
        }
        .article-thumbnail{
            background-color: #fff;
           margin-bottom:20px!important;
           border:none!important;
        }
        .article-thumbnail *{
                color:#000;
        }
       .article-thumbnail .caption{
        border:none!important;
       }
</style>

<div id="imageTpl" class="bottom-padding">
 
    <div class="row videoList article-list" id='test' >
        <div id="article-list1">

        </div>
        <div id="article-list2">

        </div>
        <div id="article-list3">

        </div>
        <div id="article-list4">

        </div>
 
    </div>
    <div id="mainType">
    <ul>


        <li id="typeNode1" onclick="active(this,'typeNode1')"><a href="#/article">全部</a></li>
        <li id="typeNode2" onclick="active(this,'typeNode2')"><a href="#/article?mainType=1" class="color1">天文·物理</a></li>
        <li id="typeNode3" onclick="active(this,'typeNode3')"><a href="#/article?mainType=2" class="color2">地理·地质</a></li>
        <li id="typeNode4" onclick="active(this,'typeNode4')"><a href="#/article?mainType=3" class="color3">生命·生态</a></li>
    </ul>
    <script>
        var current = "typeNode1";
        document.getElementById(current).style.backgroundColor = "#242424";
        function active(obj,node){
             document.getElementById(current).style.backgroundColor = "#1b1b1b";
             obj.style.backgroundColor ="#242424";
             current = node;
        
        }
    </script>
</div>
    <div class="tcdPageCode pull-right row">
    </div>
</div>

 