<link rel="stylesheet" href="/public/stylesheet/article.css">
<link rel="stylesheet" href="/public/stylesheet/video.css">
<!-- 注意！文章页和视频页共用css！ -->
<div id="imageTpl">
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#ad-carousel" data-slide-to="0"></li>
            <li data-target="#ad-carousel" data-slide-to="1"></li>
            <li data-target="#ad-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="public/images/slider01.png" alt="1 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>这是一个星光与城市的故事</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="public/images/slider02.jpg" alt="2 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>情定苏格兰群岛</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="public/images/slider03.jpg" alt="5 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>我们从何而来？</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row videoList" id='test'>
        <div class="col-sm-6 col-md-4 col-list">
            <!-- <div class="video-title video-title-1"><h4>天文·地理</h4></div> -->
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-list">
            <!-- <div class="video-title video-title-1"><h4>天文·地理</h4></div> -->
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-list">
            <!-- <div class="video-title video-title-1"><h4>天文·地理</h4></div> -->
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption-change">
                    <h3>悬停太累，让飞行器挂在树叶上“休息”吧</h3>
                    <p>
                        Akshat Rathi |今天10:48
                    </p>
                </div>
                <img src="/public/images/article1.png" alt="">
                <div class="caption">
                    <p>来自麻省理工大学和哈佛大学的研究者们研发了一种名叫RoboBee的微型飞行器，它可以利用静电吸附稳稳地倒挂在多种物体表面上。这样做，对“节省体力”很有帮助。</p>
                </div>
            </div>
        </div>
        <div class="tcdPageCode pull-right">
        </div>
    </div>
</div>
