<link rel="stylesheet" href="/public/stylesheet/articleDetail.css">
<style>
    * {
    color: #FFF;
}

</style>
<div class="articleDetail">
    <div class="articleDetail-left">
         <h2>{{articleDetail.detail.title}}</h2>
         <div ng-bind-html="articleDetail.detail.content"></div>
    </div>
        <div class="ds-login"></div>
   
    <div class="articleRight">
         
        <h3 id="related">相关文章</h3>
        <ul>
            <li ng-repeat="a in  articleDetail.relative"><a href="#/articleDetail/{{a.id}}">{{a.title}}</a></li>
           
        </ul>
    </div>
</div>
