<link rel="stylesheet" href="/public/stylesheet/articleDetail.css">
<div class="articleDetail">
    <div class="articleLeft">
        <h2>撞上天敌二次方</h2>
        <p>
            <img src="public/images/article-4.png" alt=""> 5月17日，习近平总书记在哲学社会科学工作座谈会上发表重要讲话，立时代潮头，发思想先声，对推动我国哲学社会科学工作作出了全面部署。为深入学习贯彻习近平总书记的重要讲话精神，5月23日，学校召开座谈会，哲学社会科学学科的专家、学者结合各自研究领域，对学习贯彻习近平总书记重要讲话精神进行了座谈。校党政领导杨林、林文勋、张昌山、张力，云南日报理论部主任耿嘉，云南日报、社会主义论坛编辑部、云南理论网的编辑和记者，相关职能部门、学院、研究院负责人，哲学社会科学学科专家、学者参加座谈会。
        </p>
        <p>校党委书记杨林主持座谈会并讲话。他说，习近平总书记在哲学社会科学工作座谈会上的讲话，是一篇加快构建中国特色哲学社会科学的纲领性文献，为做好新时期哲学社会科学工作提供了根本遵循和行动指南。必须切实增强政治意识、大局意识、核心意识和看齐意识，认真学习贯彻好习近平总书记重要讲话精神，全面推进哲学社会科学创新发展。 杨林对学习贯彻习近平总书记重要讲话精神提出三点要求：一要统一思想、提高认识，迅速掀起学习贯彻习近平总书记关于哲学社会科学工作重要讲话精神的热潮。要把此次学习与当前开展的“两学一做”学习教育紧密结合，不断深化对重要讲话的认识。要把重要讲话纳入校院两级党委中心组学习的重点内容，迅速安排专题学习，集中进行研讨。要以政治理论学习、“三会一课”为重要载体，抓好教职工对重要讲话精神的学习。要以思想政治理论课教学为主渠道，将学习教育融入教学全过程，扎实推进讲话精神进课堂、进教材、进学生头脑，通过扎实有效的举措，在全校迅速掀起学习贯彻习近平总书记关于哲学社会科学工作重要讲话精神的热潮。 </p>
        <p>
            <img src="public/images/article-3.png" alt="" class="imgRight"> 《思想战线》·文科学报编辑部主任杨毅教授表示，高校是哲学社会科学工作的重要阵地和重要窗口，在下一阶段的工作中要用习近平总书记重要讲话精神指导实际工作，进一步认真学习，为构建中国特色哲学社会科学作出应有贡献。 法学院院长高巍教授结合当前法学学科的研究，表示在今后的工作中要不断深入一线，用科学的方法研究和解决共性问题，为建立和完善符合人民群众利益的法学体系而努力。 艺术与设计学院副院长王卫东教授指出，繁荣和发展具有中国特色的哲学社会科学，需要建立科学权威透明的评价体系，增强相关领域学者的荣誉感、责任感、获得感，从而能更好地投入工作中，产出更多更好的研究成果。
        </p>
    </div>
    <div class="articleRight">
        <h3>文章名片</h3>
        <p>简介：各个时代的天文学家都有提出恒星碰撞的理论，但是这要等到新的技术的发展滞后，才可以得到这证明。但是这要等到新的技术的发展之后才可以证实。</p>
        <p>名称：撞上天敌二次方</p>
        <p>类别：天文·物理</p>
        <p>发表人：佚名</p>
        <p>上传时间：2016-4-13</p>
        <h3 id="related">相关文章</h3>
        <ul>
            <li><a href="">[sleepy][广东南十字星会]南十字远程天文台照片集</a></li>
            <li><a href="">[Metaverse][广东南十字星会]二零一六年南十字</a></li>
            <li><a href="">[哈雷]新一批轻型脚架（HL-TP-S3）已推出！</a></li>
            <li><a href="">[WFT][观测摄影]wtf-ngc7293/m45/ngc1499</a></li>
            <li><a href="">[steveyzh]若岩天文台拍摄的深空目标</a></li>
            <li><a href="">[Jeff-Dai][观测摄影]APOD-西藏天空和湖水中的猎户座</a></li>
            <li><a href="">[公共信息]2016年全球天文月--探索月球</a></li>
            <li><a href="">[哈雷][哈雷五金加工行]太阳系存在着</a></li>
            <li><a href="">[公共信息]2016年全球天文月--探索月球</a></li>
        </ul>
    </div>
</div>
