<link rel="stylesheet" href="/public/stylesheet/documentary.css">
<style>
* {
    font: 12px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #FFF;
}
.docu{
    width:76%;
    margin-left:12%!important;
    padding:20px;
}
</style>
<div id="documentary">
 
    <div class="video docu row" ng-repeat="doc in documentarys">
        <div class="left row">
            <img ng-src="{{doc.thumbnail}}" alt="" width="400" height="300">
            <h3>{{doc.title}} </h3>
            <p> {{doc.publishtime}}</p>
            <h4>内容简介</h4>
            <p> {{doc.abstract}}</p>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="set in doc.sets track by $index">
                <div class="list-group">
                    <a href="#/documentaryDetail/{{doc.id}}/{{set.id}}" class="list-group-item">{{set.title}}<span class="badge">{{$index+1}}</span></a>
                </div>
            </div>
        </div>
    </div>
       <div class="tcdPageCode pull-right row">
    </div>
</div>
