<link rel="stylesheet" href="/public/stylesheet/documentary.css">
<style>
* {
    font: 12px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #FFF;
}
.docu{
    width:80%!important;
    padding:20px;
}
</style>
<div id="documentary">
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#ad-carousel" data-slide-to="0"></li>
            <li data-target="#ad-carousel" data-slide-to="1"></li>
            <li data-target="#ad-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="/public/images/slider01.png" alt="1 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>这是一个星光与城市的故事</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/public/images/slider02.jpg" alt="2 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>情定苏格兰群岛</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/public/images/slider03.jpg" alt="5 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h2>我们从何而来？</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video docu" ng-repeat="doc in documentarys">
        <div class="left row">
            <img ng-src="{{doc.thumbnail}}" alt="" width="400" height="300">
            <h3>{{doc.title}} </h3>
            <p> {{doc.publishtime}}</p>
            <h4>内容简介</h4>
            <p> {{doc.abstract}}</p>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="set in doc.sets track by $index">
                <div class="list-group">
                    <a href="/documentary/{{doc.id}}/{{$index}}" class="list-group-item">{{set.title}}<span class="badge">{{$index+1}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
