<footer>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <h4>友情链接</h4>
            <ul>
                <li><a href="">中国国家地理网</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">媒体报道</a></li>
                <li><a href="">中国国家地理网</a></li>
                <li><a href="">中国国家地理网</a></li>
            </ul>
        </div>
         <div class="col-md-3">
            <h4>友情链接</h4>
            <ul>
                <li><a href="">中国国家地理网</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">媒体报道</a></li>
                
            </ul>
        </div>

        <div class="col-md-4 weixin">
            <h4>关注微信</h4>
            <img src="/public/images/weixin.png" alt="微信号" width="120" height="100">
        </div>
    </div>
    <div class="row contact-me">
        <p>备案号:云ICP备11153489号</p>
        <p>科普网 kepuwang@126.com</p>
    </div>
</footer>
