<footer>
    <div class="row">
        <div class="col-md-2  col-md-offset-1">
            <h4>友情链接</h4>
            <ul>
 
                <li><a href="http://www.ynao.ac.cn/">云南天文台</a></li>
                <li><a href="http://www.bao.ac.cn/">国家天文台</a></li>
                <li><a href="http://www.pmo.ac.cn/">紫金山天文台</a></li>
                <li><a href="http://www.shao.ac.cn/">上海天文台</a></li>
                <li><a href="http://www.xao.ac.cn/">新疆天文台</a></li>
            </ul>
        </div>
                <div class="col-md-3 " style="padding-top:30px">
             
            <ul>
                
                <li><a href="http://www.nasa.gov/">NASA</a></li>
                <li><a href="http://www.spacetelescope.org/">哈勃望远镜官网</a></li>
                <li><a href="http://www.eso.org/public/">欧洲南方天文台</a></li>
               
            </ul>
        </div>
         

        <div class="col-md-3 weixin">
            <h4>关注微信</h4>
            <img src="/public/images/weixin.png" alt="微信号" width="120" height="100">
        </div>
      <div class="col-md-3 weixin">
            <h4>heavens-above</h4>
            <a href="http://www.heavens-above.com/" target="_blank">
             <img src="/public/images/heavens above.jpg" alt="微信号" width="130" height="150">
       </a>
        </div>
    </div>
    <div class="row contact-me" style="padding-top:30px">
        <p>备案号:云ICP备11153489号</p>
        <p>科普网 kepuwang@126.com</p>
    </div>
</footer>
