<link rel="stylesheet" href="/public/stylesheet/video.css">
<!-- 注意！图片页和视频页共用css！ -->
<style>
.carousel {
    margin-bottom: 4 0px!important;
}
</style>
<div id="imageTpl">
 
    <div class="row videoList pic-only-con" id='test'>
        <div class="col-sm-6 col-md-4 col-list">
            <!-- <div class="video-title video-title-1"><h4>天文·地理</h4></div> -->
            <div class="thumbnail" ng-repeat="pic in picsLeft">
                <a href="#/imageDetail/{{pic.id}}"><img class="picture-thumb" ng-src="{{pic.thumbnail}}" alt="..."></a>
                <div class="caption">
                    <h3>{{pic.title}}</h3>
                    <p>{{pic.abstract}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-list">
            <div class="thumbnail" ng-repeat="pic in picsMiddle">
                <a href="#/imageDetail/{{pic.id}}"><img  class="picture-thumb" ng-src="{{pic.thumbnail}}" alt="..."></a>
                <div class="caption">
                    <h3>{{pic.title}}</h3>
                    <p>{{pic.abstract}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-list">
            <div class="thumbnail" ng-repeat="pic in picsRight">
                <a href="#/imageDetail/{{pic.id}}"><img  class="picture-thumb" ng-src="{{pic.thumbnail}}" alt="..."></a>
                <div class="caption">
                    <h3>{{pic.title}}</h3>
                    <p>{{pic.abstract}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row tcdPageCode ">
    </div>
</div>
