<link rel="stylesheet" href="/public/stylesheet/imageDetail.css">
<style>
      *{
        font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #FFF;
}
</style>
<div class="imageDetailTpl">
    <div class="imageDetail">
    <div class="col-md-9 left">
        <h2>{{imgDetail.title}}</h2>
        <div class="good" ng-click="like()">
        <img src="/public/images/good.png" width="50" height="50" alt="赞"  >
        <span>{{imgDetail.likes || 0}}</span>
        </div>
        
            <img class="media-object" ng-src="{{imgDetail.img_src}}" alt="...">
        
    </div>
    <div class="col-md-3 right" ng-bind-html="imgDetail.maincontent">
        
    </div>
    <div class="imgDetail">
        <h4 class="main-title">图片详情</h4>
         <div  ng-bind-html="imgDetail.content"> 
         </div> 
    </div>
    <div class="imgDownload">
        <h4 class="main-title">图片下载</h4>
        <table>
            <tr>
                <th>小尺寸</th>
                <th>中尺寸</th>
                <th>大尺寸</th>
            </tr>
            <tr>
                <td>1M</td>
                <td>2M</td>
                <td>3M</td>
            </tr>
        </table>
    </div>
    <div class="row imageDetail-bottom">
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
    </div>
</div>
</div>

