<link rel="stylesheet" href="/public/stylesheet/imageDetail.css">
<div class="imageDetailTpl">
    <div class="imageDetail">
    <div class="col-md-9 left">
        <h2>{{imgDetail.title}}</h2>
        <div class="good">
        <img src="/public/images/good.png" width="50" height="50" alt="">
        <span>{{imgDetail.likes || 0}}</span>
        </div>
        
            <img class="media-object" ng-src="{{imgDetail.thumbnail}}" alt="...">
        
    </div>
    <div class="col-md-3 right" ng-bind-html="imgDetail.subContent">
        <!-- <h3 class="main-title">图片名片</h3>
        <p>简介：{{imgDetail.abstract}}</p>
        <p>名称：{{imgDetail.title}}</p>
        <p ng-switch="imgDetail.maintype">类别： 
           
                                    <span ng-switch-when="1" style="font-size:16px">天文·文理</span>
                                    <span ng-switch-when="2" style="font-size:16px">地理·地质</span>
                                    <span ng-switch-when="3" style="font-size:16px">人文·生态</span>
                                    <!-- <span ng-switch-default>其他</span> -->
         </p>
        <p>发表人：{{imgDetail.author}}</p>
        <p>上传时间：{{imgDetail.publishTime || yyyy-MM-DD}}</p> -->
    </div>
    <div class="imgDetail">
        <h4 class="main-title">图片详情</h4>
         {{imgDetail.content}}
    </div>
    <div class="imgDownload">
        <h4 class="main-title">图片下载</h4>
        <table>
            <tr>
                <th>小尺寸</th>
                <th>中尺寸</th>
                <th>大尺寸</th>
            </tr>
            <tr>
                <td>1M</td>
                <td>2M</td>
                <td>3M</td>
            </tr>
        </table>
    </div>
    <div class="row imageDetail-bottom">
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
        <a href=""><img src="/public/images/article-4.png" width="200" alt=""></a>
    </div>
</div>
</div>

