<div id="navPage"><style>
    a h2{color:#fff;}
    .form-group img:hover{
    cursor:pointer;
    }
</style>
    <div id="topNav" style="background-color:#535353">
        <div class="container-fluid" style="width:1200px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="public/images/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left form-inline" role="search">
                    <div class="form-group">
                         <input class="form-control" type="text" placeholder="Search" onfocus="this.style.backgroundColor='white';" onblur="this.style.backgroundColor='#3d3d3d';" ng-model="key"> 
                          <!-- <span style="font-size:16px">搜索</span> -->
                          <img src="/public/images/search.png" width="22" height="22" alt="" ng-click="search(key)">
                    </div>

                     <!-- <button type="submit" class="btn btn-default">S</button>  -->
                </form>
              <!--   <div class="login">
                    <button type="button" class="btn btn-link" ng-click="init('登录')" id="myBtn">登录</button>
                    <span class="fenge">|</span>
                    <button type="button" class="btn btn-link" ng-click="init('注册')" id="myBtn">注册</button>
                    
                </div> -->
            </div>
           
            <!-- /.navbar-collapse -->
        </div>
        <div class="separator"> </div>
    </div>
    <div class="bottomNav row">
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#/index">主页</a></li>
                        <li><a href="#/article">文章</a></li>
                        <li><a href="#/video">视频</a></li>
                        <li><a href="#/image">图片</a></li>
                        <li><a href="#/documentary">纪录片</a></li>
                        <li><a href="/dz">贴吧</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
     <div id="ad-carousel" class="carousel slide" data-ride="carousel" ng-show="showSlider">
        <ol class="carousel-indicators">
            <li class="active" data-target="#ad-carousel" data-slide-to="0"></li>
            <li data-target="#ad-carousel" data-slide-to="1"></li>
            <li data-target="#ad-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img ng-src="{{slideArticle[0].img_src}}" alt="5 slide">
                <div class="container">
                    <div class="carousel-caption">
                       <!-- <a href="#articleDetail/{{slideArticle[0].id}}"> <h2>{{slideArticle[0].title}}</h2></a> -->
                    </div>
                </div>
            </div>
            <div class="item">
                 <a href="#articleDetail/{{slideArticle[1].id}}"><img ng-src="{{slideArticle[1].img_src}}" alt="5 slide"></a>
                <div class="container">
                    <div class="carousel-caption">
                        <!-- <h2>{{slideArticle[1].title}}</h2> -->
                    </div>
                </div>
            </div>
            <div class="item">
                <img ng-src="{{slideArticle[2].img_src}}" alt="5 slide">
                <div class="container">
                    <div class="carousel-caption">
                        <!-- <a href="#articleDetail/{{slideArticle[2].id}}"><h2>{{slideArticle[2].title}}</h2></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
