<link rel="stylesheet" href="/public/stylesheet/documentary.css">
<style>
* {
    font: 12px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #FFF;
}

.result-item {
    width: 76%;
    margin-left: 12%!important;
    padding: 0px 20px 0px 190px;
    position: relative;
    height: 120px;
    overflow: hidden;
    background-color: #1f1f1f;
    margin-top: 20px;
}

.result-item img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.color {
    color: #eaffb8;
    font-size: 1em;
}

.highlight {
    background-color: yellow;
}
.time{
    position:absolute;
    bottom:10px;
    right:50px;
}
a h4{color:#fff;}
</style>
<div id="documentary">
  
    <div id="result">
        <div class="row result-item" ng-repeat="search in searchResult" repeat-done="heightlight()">
            <img ng-src="{{search.thumbnail}}" alt="" width="180" height="120">
            <a href="{{search.url}}"><h4>【{{search.type}}】{{search.title}}</h4></a>
            <p>{{search.abstract}}</p>
            <div class="time"><span>{{search.publishTime|cutTimeStr}}</span></div>
        </div>
    </div>
    <div class="tcdPageCode pull-right row">
    </div>
</div>
<script>
jQuery.fn.highlight = function(pat) {
    function innerHighlight(node, pat) {
        var skip = 0;
        if (node.nodeType == 3) {
            var pos = node.data.toUpperCase().indexOf(pat);
            if (pos >= 0) {
                var spannode = document.createElement('span');
                spannode.className = 'highlight';
                var middlebit = node.splitText(pos);
                var endbit = middlebit.splitText(pat.length);
                var middleclone = middlebit.cloneNode(true);
                spannode.appendChild(middleclone);
                middlebit.parentNode.replaceChild(spannode, middlebit);
                skip = 1;
            }
        } else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
            for (var i = 0; i < node.childNodes.length; ++i) {
                i += innerHighlight(node.childNodes[i], pat);
            }
        }
        return skip;
    }
    return this.each(function() {
        innerHighlight(this, pat.toUpperCase());
    });
};

jQuery.fn.removeHighlight = function() {
    return this.find("span.highlight").each(function() {
        this.parentNode.firstChild.nodeName;
        with(this.parentNode) {
            replaceChild(this.firstChild, this);
            normalize();
        }
    }).end();
};
 
</script>
