<link rel="stylesheet" href="/public/stylesheet/imageDetail.css">
<style>
* {
    color: #FFF;
}

.relative-video {
    width: 260px;
    float: left;
    height:70px;
    margin:9px;
    margin-left:0px;
    padding-left:110px;
    padding-right:15px;
    background-color: #1b1b1b;
    position:relative;
}
.relative-video h5{
    color:#fff;
    /*text-align:center;*/
}
.rel-play{
    position:absolute;
    top:0;

left:0;}
.videoPlay .left{
    width:72%!important;
}
.video-info{
    margin-bottom:15px;
    border-bottom:1px solid #aaa;
}
.videoPlay .right{
    width:28%;
    
}
.absolute-position{
    position:absolute;
    top:0;
    left:0;
}
.stay-bottom{
    position:absolute;
    bottom:0px;
    right:10px;
    font-size:0.9em;
    color:#ddd;
}
.bottom-info{
    color:#ddd !important;
    font-size:0.9em;
}
.bottom-info span{margin-right:20px;}
.imgDownload{
    padding-bottom:50px;
}
.imgDownload a{
    color:#FFF;
    font-size:1.1em;
}
.no-download{
    font-size:0.9em;
    color:#ddd;
    padding-top:20px;
}
</style>
<div class="videoDetailTpl">
    <div class="imageDetail">
        <div class="row videoPlay">
            <div class="col-md-9 left">
                <h2>{{videoDetail.title}}</h2>
                <embed type="application/x-shockwave-flash" class="edui-faked-video" pluginspage="http://www.macromedia.com/go/getflashplayer" embed-src="{{videoDetail.videocode|trusted}}" width="740" height="455" wmode="transparent" play="true" loop="false" menu="false" allowscriptaccess="never" allowfullscreen="true" />
                  <p  class="bottom-info"> <span ng-switch="videoDetail.maintype" >
                                    <span ng-switch-when="1">天文·物理</span>
                    <span ng-switch-when="2">地理·地质</span>
                    <span ng-switch-when="3">人文·生态</span>
                    <span ng-switch-default>其他</span>
                    </span>
                 {{videoDetail.publishtime}}</p>
            </div>
            <div class="col-md-3 right">
                <!--<h3>视频名片</h3>-->
                <!--<p>简介：{{videoDetail.abstract}}</p>-->
                <!--<p>名称：{{videoDetail.title}}</p>-->
          <!--       <div class="video-info">
                     <p>类别： <span ng-switch="videoDetail.maintype">
                                    <span ng-switch-when="1">天文·文理</span>
                    <span ng-switch-when="2">地理·地质</span>
                    <span ng-switch-when="3">人文·生态</span>
                    <span ng-switch-default>其他</span>
                    </span>
                </p>
               
                <p>上传时间：{{videoDetail.publishtime}}</p>
                </div>
                -->
            
            <h5>相关视频</h5>
              
                <div class="relative-video" ng-repeat="rel in videoDetail.relative">
                    <div class="absolute-position"> <img ng-src="{{rel.thumbnail}}" class="video-thumbnail" alt="..." width="100" height="70" >
                    <a href="#/videoDetail/{{rel.id}}" class="rel-play"><img src="/public/images/videoPlay.png" width="100" height="70" alt=""></a>
                        </div>
                        
                    <h5>{{rel.title}}</h5>
                   
                        <span  class="stay-bottom">{{rel.publishtime|cutTimeStr}}</span>
                     
                </div>
               
            </div>
        </div>
        <div class="imgDetail row">
            <h3>视频简介</h3>
            <div ng-bind-html="videoDetail.content"></div>
        </div>
        <div class="imgDownload">
        <h4 class="main-title">视频下载</h4>
        <p class="no-download" ng-show="noDownload">无可供下载资源···</p>
        <div class="col-md-3" ng-repeat="att in imgDetail.attachment">
            <a href="{{att.url}}" download>{{att.name}}</a>
        </div>
    </div>
      
        <div class="row">
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="id{{videoDetail.id}}" data-title="{{videoDetail.title}}" data-url="http://www.server.com/#/videoDetail/"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {
                short_name: "boomler2"
            };
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
            </script>
            <!-- 多说公共JS代码 end -->
        </div>
    </div>
</div>
